#pip install -r requirements.txt

pandas
numpy
matplotlib
seaborn
tqdm
statsmodels
parmap
sklearn
xgboost
datetime
ipykernel
bs4
pylint
jupyter
requests
pipwin
geopandas
libpysal
matplotlib_scalebar
ortools
spaghetti